.card-cr {
  width: 240px;
  height: 240px;
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 3px dashed #fff;
  box-shadow: 2.5px 4.33px 15px #00000026;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.card-cr:hover {
  border-color: #feb000;
}
@media (max-width: 1992px) {
  .card-cr {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 776px) {
  .card-cr {
    width: 160px;
    height: 160px;
  }
}
