.navbar-nav a {
  font-size: 14px !important;
  margin: 0 15px !important;
  font-weight: bold !important;
  border-bottom: 1px solid transparent !important;
  transition: 0.4s !important;
  -webkit-transition: 0.4s !important;
  -moz-transition: 0.4s !important;
  -ms-transition: 0.4s !important;
  -o-transition: 0.4s !important;
  color: black;
  text-decoration: none;
}

.navbar-nav a:hover {
  color: #feb000 !important;
}
.navbar-nav button {
  background-color: #feb000;
  border: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 5px 20px;
  font-weight: bold !important;
}
.navbar-nav button:hover {
  box-shadow: 2.5px 4.33px 15px #feb000;
  background-color: #feb000;
}
.navbar-toggler {
  transition: 0.4s !important;
  -webkit-transition: 0.4s !important;
  -moz-transition: 0.4s !important;
  -ms-transition: 0.4s !important;
  -o-transition: 0.4s !important;
  box-shadow: none !important;
  border: 3px solid #feb000 !important;
}
.navbar-toggler:hover {
  background-color: #feb000;
  box-shadow: none !important;
}
.navbar-toggler:hover span {
  color: white !important;
}

@media (max-width: 992px) {
  .nav-link:hover {
    border-bottom: 1px solid #feb000 !important;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav a.active {
  color: #feb000;
}
